@font-face {
  font-family: Vazir;
  src: url('font/Vazir.eot');
  src: url('font/Vazir.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir.woff2') format('woff2'),
       url('font/Vazir.woff') format('woff'),
       url('font/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('font/Vazir-Bold.eot');
  src: url('font/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir-Bold.woff2') format('woff2'),
       url('font/Vazir-Bold.woff') format('woff'),
       url('font/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('font/Vazir-Light.eot');
  src: url('font/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir-Light.woff2') format('woff2'),
       url('font/Vazir-Light.woff') format('woff'),
       url('font/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('font/Vazir-Medium.eot');
  src: url('font/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir-Medium.woff2') format('woff2'),
       url('font/Vazir-Medium.woff') format('woff'),
       url('font/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('font/Vazir-Thin.eot');
  src: url('font/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('font/Vazir-Thin.woff2') format('woff2'),
       url('font/Vazir-Thin.woff') format('woff'),
       url('font/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}




body,h1,h2,h3,h4,h5,h6,p,td,tr,th,li,ul,a,input,textarea,button, label, .rev_slider .tp-mask-wrap .tp-caption, .rev_slider .tp-mask-wrap :last-child, .wpb_text_column .rev_slider .tp-mask-wrap .tp-caption, .wpb_text_column .rev_slider .tp-mask-wrap :last-child, body .rev_slider_wrapper .rev-btn.ts-button, body .rev_slider_wrapper .ts-button-border-primary.rev-btn, .ts-portfolio-wrapper .filter-bar li, .woocommerce-account .woocommerce-MyAccount-navigation li a, .ts-banner h2, .ts-banner .heading-big, .vc_toggle_default.vc_toggle_active .vc_toggle_title h4, .woocommerce #order_review table.shop_table tfoot th, .woocommerce-page #order_review table.shop_table tfoot th, .woocommerce .checkout #order_review table tfoot tr.cart-subtotal th, .woocommerce-page .checkout #order_review table tfoot tr.cart-subtotal th, .woocommerce table.shop_table th, .woocommerce-page table.shop_table th, .woocommerce #reviews #reply-title, .woocommerce-page #reviews #reply-title, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .summary .sku-wrapper.product_meta, .woocommerce div.product .images .product-label span.onsale, .woocommerce-page div.product .images .product-label span.onsale, .woocommerce .products .product .product-label span:first-child, .woocommerce-page .products .product .product-label span:first-child, header.ts-header .menu-wrapper nav > ul.menu ul.sub-menu > li > a, .amount, header.ts-header .menu-wrapper nav > ul.menu > li > a, h3.product-name > a, .vc_tta-tab .vc_tta-title-text, .shopping-cart-wrapper .form-content > label, .shopping-cart-wrapper a.cart-control, .vertical-menu-wrapper .vertical-menu-heading{
    font-family:Vazir;
}
.dropdown-container .dropdown-footer > a.button.view-cart::after {
    margin-right: 5px;
        margin-left: 5px;

}

.woocommerce .products .product .product-label .featured, .woocommerce-page .products .product .product-label .featured, .pp_woocommerce div.product .images .product-label span.featured, .woocommerce #content div.product .images .product-label span.featured, .woocommerce div.product .images .product-label span.featured, .woocommerce-page #content div.product .images .product-label span.featured, .woocommerce-page div.product .images .product-label span.featured {
    font-family: vazir;
    text-align: center;
}
.group-button-icon-header .ts-tiny-cart-wrapper .ic-cart .ic {
    position: absolute;
}
article a.button-readmore::after {
    margin-right: 7px;
}
.info-desc .fa {
    margin-right: 10px;
    margin-left: 0;
}
.info-desc span{
    direction: ltr;
}
.vc_row.ts-video-bg {
    right: -66.5px;
}

